html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center; 
  align-items: center; 
}

.styledContainer{
    padding: 20px;
      width:49%;
   height:auto;
    margin:auto;
   background-color:whitesmoke;
  }

.styledContainer p{
    padding:12px;
    text-align: left;
    color: brown;
    margin-bottom: 0px;
}

.styledContainer b{
    padding:12px;
    font-size: 20px;
    text-align: left;
    color:blue
}

.styledContainer a{
    text-align: left;
   padding: 2px;
   margin-left: -560px;
}